<form [formGroup]="registrationForm" (ngSubmit)="doRegister($event)">
    <input formControlName="email" type="email" placeholder="Your email">
    <small [hidden]="registrationForm.controls.email.valid || (registrationForm.controls.email.pristine && !submitted)" class="text-danger">
            Email is required.
          </small>
    <input formControlName="userName" type="userName" placeholder="Your userName">
    <small [hidden]="registrationForm.controls.userName.valid || (registrationForm.controls.userName.pristine && !submitted)" class="text-danger">
            User Name should have atmost 5 characters and must be alphabet
          </small>      
    <input formControlName="password" type="password" placeholder="Your password">
    dirty {{registrationForm.dirty}}, touched {{registrationForm.touched}}, valid {{registrationForm.valid}}
    <input formControlName="retypePassword" type="password" placeholder="Retype password" required validateEqual="password">
    <small [hidden]="registrationForm.controls.retypePassword.valid || (registrationForm.controls.retypePassword.pristine && !submitted)" class="text-danger">
            Mismatch problem
          </small>  
  <button type="submit" [disabled]="!registrationForm.valid">Register</button>
</form>